.header {
    height: 5rem;
    background-color: var(--gray-10);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-image {
        width: 2rem;
        height: 2rem;
    }

    @media only screen and (max-width: 600px) {
        padding: 1rem;

        h1 {
            font-size: inherit;
        }

        .greeting {
            display: none;
        }
    }
}