.details {

    h2 {
        text-align: center;
    }

    table {
        margin-right: auto;
        margin-left: auto;
    }

    .value,
    .name {
        width: 10vw;
        display: inline-block;
    }

    .value {
        width: 30vw;
    }
}